@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background-image: url('img/phone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    text-align: center;
    background-image: url('img/phone-animado.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.363);
    height: 300px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url('img/tablet.jpg');
    }
    
    main{
        background-image: url('img/tablet-animado.jpg');
    }
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
    body{
        background-image: url('img/desktop.jpg');
    }

    main{
        background-image: url('img/notebook-animado.webp');
    }
}

@media screen and (min-width: 1400px) {
    body{
        background-image: url('img/tv.jpg');
    }
    main{
        background-image: url('img/tv-animado.jpg');
    }
}

@media print{
    body{
        background-color: white;
    }

    main{
        background-image: url('img/impressora-animado.png');
    }
}